.slideUp {
    transform: translateX(-100%)
}

.slideDown {
    transform: translateX(200%)
}



.scroll {
    transition: 2s all;
    opacity: 0;
    filter: blur(2px);
    transform: translateY(20%);
}

.fly {
    opacity: 1;
    filter: blur(0px);
    transform: translateY(0%);
}