.otherProjects {
    z-index: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    margin-bottom: 10vw;
}


.otherProjects a {
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 27vw;
    height: 15vw;
    text-decoration: none;
    cursor: url('redCircle.svg'), auto;


    &:before {
        content: '';
        background-color: white;
        width: 100%;
        height: 50%;
        position: absolute;
        top: -50%;
        z-index: 2;
        transition: .5s all;
        opacity: 1;
    }

    &:hover:before {
        top: 0%;
    }

    &:after {
        content: '';
        background-color: white;
        width: 100%;
        height: 50%;
        position: absolute;
        top: 100%;
        z-index: 2;
        transition: .5s all;
        opacity: 1;
    }

    &:hover:after {
        top: 50%;
    }

    h1 {
        font-size: 3vw;
        opacity: 0;
        color: rgb(26, 26, 26);
        text-align: center;
    }

    &:hover h1 {
        z-index: 10;
        animation: 1s appear forwards;
    }

    @keyframes appear {
        0% {
            opacity: 0;
        }

        40% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    img {
        &:nth-child(1) {
            position: absolute;
            top: 0vw;
            left: 0vw;
            height: 100%;
        }

        &:nth-child(3) {
            position: absolute;
            bottom: .5vw;
            left: 1vw;
            height: 3vw;
            z-index: -1;
            cursor: pointer;

        }

    }
}

.otherProjects a {
    h1 {
        font-size: 3vw;
        opacity: 0;
        color: rgb(26, 26, 26);
        text-align: center;
    }

    &:hover h1 {
        z-index: 10;
        color: black;
        animation: 1s appear forwards;
    }

    p {
        font-size: 1vw;
        opacity: 0;
        color: rgb(26, 26, 26);
        text-align: center;
        width: 25vw;
    }

    &:hover p {
        z-index: 10;
        color: black;
        animation: 1s appear forwards;
    }

    &:hover img:nth-child(3) {
        z-index: 1000000;
        animation: 1s appear forwards;
    }

    @keyframes appear {
        0% {
            opacity: 0;
        }

        40% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }
}