.socials{
    position:fixed;
    bottom:0;
    left:2vw;
    opacity:.2;
    transition:.5 all;
    &:hover{
        opacity:1;
    }
    section{
        display:flex;
        flex-direction: column-reverse;
        align-items: center;
        div{
            background-color: white;
            width:.1vw;
            height:2vw;
        }
        img{
            height:2vw;
        }
    }
}