html {
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  width: 0.2vw;
  background: black;
  padding: 0.1vw;
}

html::-webkit-scrollbar-track {
  margin-block: 0.3rem;
  border-radius: 100vw;
}

html::-webkit-scrollbar-thumb {
  background-color: red;
  border-radius: 100vw;
}

html::-webkit-scrollbar-thumb:hover {
  background-color: white;
  border: 1px solid #E0FAA7;
}

.loader {
  background-color: #F1F0E8;
  width: 100%;
  height: 100vh;
  position: absolute;
  z-index: 1000;
  justify-content: center;
  align-items: center;
  display: flex;
}

.dot {
  background-color: black;
  position: absolute;
  width: 5vw;
  height: 5vw;
  border-radius: 5vw;
  transition: 1s all;
}

#dot1 {
  top: 17vw;
  left: 42vw;
}

#dot2 {
  top: 17vw;
  left: 52vw;
}

#dot3 {
  top: 27vw;
  left: 42vw;
}

#dot4 {
  top: 27vw;
  left: 52vw;
}

@-webkit-keyframes upLeft {
  100% {
    top: 17vw;
    left: 42vw;
  }
}

@keyframes upLeft {
  100% {
    top: 17vw;
    left: 42vw;
  }
}
.upLeft {
  -webkit-animation: 1s upLeft forwards;
          animation: 1s upLeft forwards;
}

@-webkit-keyframes upRight {
  100% {
    top: 17vw;
    left: 52vw;
  }
}

@keyframes upRight {
  100% {
    top: 17vw;
    left: 52vw;
  }
}
.upRight {
  -webkit-animation: 1s upRight forwards;
          animation: 1s upRight forwards;
}

@-webkit-keyframes downLeft {
  100% {
    top: 27vw;
    left: 42vw;
  }
}

@keyframes downLeft {
  100% {
    top: 27vw;
    left: 42vw;
  }
}
.downLeft {
  -webkit-animation: 1s downLeft forwards;
          animation: 1s downLeft forwards;
}

@-webkit-keyframes downRight {
  100% {
    top: 27vw;
    left: 52vw;
  }
}

@keyframes downRight {
  100% {
    top: 27vw;
    left: 52vw;
  }
}
.downRight {
  -webkit-animation: 1s downRight forwards;
          animation: 1s downRight forwards;
}

@media (max-width: 500px) {
  .loader {
    width: 100%;
    height: 100vh;
    position: relative;
    margin-top: 40vw;
    z-index: 1000;
    justify-content: center;
    background: transparent;
    align-items: center;
    display: flex;
  }
  .dot {
    background-color: black;
    position: absolute;
    width: 5vw;
    height: 5vw;
    border-radius: 5vw;
    transition: 1s all;
  }
  #dot1 {
    top: 17vw;
    left: 42vw;
  }
  #dot2 {
    top: 17vw;
    left: 52vw;
  }
  #dot3 {
    top: 27vw;
    left: 42vw;
  }
  #dot4 {
    top: 27vw;
    left: 52vw;
  }
  @-webkit-keyframes upLeft {
    100% {
      top: 17vw;
      left: 42vw;
    }
  }
  @keyframes upLeft {
    100% {
      top: 17vw;
      left: 42vw;
    }
  }
  .upLeft {
    -webkit-animation: 1s upLeft forwards;
            animation: 1s upLeft forwards;
  }
  @-webkit-keyframes upRight {
    100% {
      top: 17vw;
      left: 52vw;
    }
  }
  @keyframes upRight {
    100% {
      top: 17vw;
      left: 52vw;
    }
  }
  .upRight {
    -webkit-animation: 1s upRight forwards;
            animation: 1s upRight forwards;
  }
  @-webkit-keyframes downLeft {
    100% {
      top: 27vw;
      left: 42vw;
    }
  }
  @keyframes downLeft {
    100% {
      top: 27vw;
      left: 42vw;
    }
  }
  .downLeft {
    -webkit-animation: 1s downLeft forwards;
            animation: 1s downLeft forwards;
  }
  @-webkit-keyframes downRight {
    100% {
      top: 27vw;
      left: 52vw;
    }
  }
  @keyframes downRight {
    100% {
      top: 27vw;
      left: 52vw;
    }
  }
  .downRight {
    -webkit-animation: 1s downRight forwards;
            animation: 1s downRight forwards;
  }
}
.stayUp {
  transform: translateY(-2.1vw);
}

.thankYou {
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 1000;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4vw;
  text-align: center;
  transition: 1s all;
  flex-direction: column;
}
.thankYou button {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  background-color: black;
  padding: 1vw 2vw;
  color: white;
  border: none;
  border-radius: 1rem;
  position: relative;
  z-index: 0;
  font-size: 1vw;
  border-radius: 2vw;
  cursor: pointer;
  margin-bottom: 1.5vw;
  transition: 0.1s all;
}
.thankYou button:hover {
  transform: scale(1.07);
  color: red;
}
.thankYou button:active {
  transform: scale(0.9);
  color: red;
}

.stayDown {
  transform: translateY(100%);
}

.goBackUp {
  transform: translateY(-100%);
}

.contactForm {
  width: 100%;
  align-items: center;
  position: relative;
  margin-bottom: 5vw;
  display: flex;
  z-index: 99;
}
.contactForm img {
  height: 30vw;
  margin-right: 8vw;
  pointer-events: none;
}
.contactForm span {
  position: relative;
}
.contactForm span div {
  top: 1.83vw;
  color: gray;
  left: 2vw;
  font-size: 1vw;
  position: absolute;
  pointer-events: none;
  transition: 0.5s all;
}
.contactForm section {
  overflow: hidden;
  width: 35vw;
  justify-content: center;
  padding: 0;
  position: relative;
  border-radius: 2vw;
}
.contactForm section form {
  overflow: hidden;
  background-color: white;
  display: flex;
  flex-direction: column;
  width: 35vw;
  justify-content: center;
  align-items: center;
  border-radius: 2vw;
  padding: 1vw 0;
  margin: 0;
}
.contactForm section form h2 {
  font-size: 3vw;
  font-family: title;
}
.contactForm section form input {
  border: 0.01vw solid black;
  margin: 0.8vw;
  width: 20vw;
  font-size: 1vw;
  padding: 1vw;
  border-radius: 2vw;
  cursor: url("media/textCursor.svg"), auto;
}
.contactForm section form input:hover {
  box-shadow: inset 0px 0px 0.05vw 0.05vw black;
}
.contactForm section form input:active {
  border: 0.01vw solid black;
}
.contactForm section form input:hover ~ div {
  transform: translateY(-2.1vw);
  font-size: 0.7vw;
}
.contactForm section form textarea {
  border: 0.01vw solid black;
  margin: 0.8vw;
  width: 20vw;
  font-size: 1vw;
  padding: 1vw;
  border-radius: 2vw;
  cursor: url("media/textCursor.svg"), auto;
}
.contactForm section form textarea:hover {
  box-shadow: inset 0px 0px 0.05vw 0.05vw black;
}
.contactForm section form textarea:active {
  border: 0.01vw solid black;
}
.contactForm section form textarea:hover ~ div {
  transform: translateY(-2.1vw);
  font-size: 0.7vw;
}
.contactForm section form button {
  position: relative;
  text-decoration: none;
  cursor: pointer;
  background-color: black;
  padding: 1vw 2vw;
  color: white;
  border: none;
  border-radius: 1rem;
  position: relative;
  z-index: 0;
  font-size: 1vw;
  border-radius: 2vw;
  cursor: pointer;
  margin-bottom: 1.5vw;
  transition: 1s transform;
}
.contactForm section form button:hover {
  transform: scale(1.07);
  color: red;
}
.contactForm section form button:active {
  transform: scale(0.9);
  color: red;
}

@media (max-width: 500px) {
  .stayUp {
    transform: translateY(-8.1vw);
  }
  .thankYou {
    position: absolute;
    top: -100%;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1000;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4vw;
    text-align: center;
    transition: 1s all;
    flex-direction: column;
  }
  .thankYou button {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    background-color: black;
    padding: 1vw 2vw;
    color: white;
    border: none;
    border-radius: 1rem;
    position: relative;
    z-index: 0;
    font-size: 1vw;
    border-radius: 2vw;
    cursor: pointer;
    margin-bottom: 1.5vw;
    transition: 0.1s all;
  }
  .thankYou button:hover {
    transform: scale(1.07);
    color: red;
  }
  .thankYou button:active {
    transform: scale(0.9);
    color: red;
  }
  .stayDown {
    transform: translateY(100%);
  }
  .goBackUp {
    transform: translateY(-100%);
  }
  .contactForm {
    width: 100%;
    align-items: center;
    position: relative;
    margin-bottom: 5vw;
    display: flex;
    z-index: 99;
    flex-direction: column-reverse;
  }
  .contactForm img {
    height: 70vw;
    margin-right: 8vw;
    pointer-events: none;
    margin: 13vw 0;
  }
  .contactForm span {
    position: relative;
  }
  .contactForm span div {
    top: 6.23vw;
    color: gray;
    left: 7.5vw;
    font-size: 5vw;
    position: absolute;
    pointer-events: none;
    transition: 0.5s all;
  }
  .contactForm section {
    overflow: hidden;
    width: 100%;
    justify-content: center;
    padding: 0;
    position: relative;
    border-radius: 2vw;
  }
  .contactForm section form {
    overflow: hidden;
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    border-radius: 2vw;
    padding: 4vw 0;
    margin: 0;
  }
  .contactForm section form h2 {
    font-size: 7vw;
    font-family: title;
    display: none;
  }
  .contactForm section form input {
    border: 0.01vw solid black;
    margin: 3.4vw;
    width: 60vw;
    font-size: 5vw;
    padding: 3vw;
    border-radius: 2vw;
    cursor: url("media/textCursor.svg"), auto;
  }
  .contactForm section form input:hover {
    box-shadow: inset 0px 0px 0.05vw 0.05vw black;
  }
  .contactForm section form input:active {
    border: 0.01vw solid black;
  }
  .contactForm section form input:hover ~ div {
    transform: translateY(-8.1vw);
    font-size: 5vw;
  }
  .contactForm section form textarea {
    border: 0.01vw solid black;
    margin: 3.4vw;
    width: 60vw;
    font-size: 5vw;
    padding: 3vw;
    border-radius: 2vw;
    cursor: url("media/textCursor.svg"), auto;
  }
  .contactForm section form textarea:hover {
    box-shadow: inset 0px 0px 0.05vw 0.05vw black;
  }
  .contactForm section form textarea:active {
    border: 0.01vw solid black;
  }
  .contactForm section form textarea:hover ~ div {
    transform: translateY(-8.1vw);
    font-size: 5vw;
  }
  .contactForm section form button {
    position: relative;
    text-decoration: none;
    cursor: pointer;
    background-color: black;
    padding: 3vw 8vw;
    color: white;
    border: none;
    border-radius: 1rem;
    position: relative;
    z-index: 0;
    font-size: 5vw;
    border-radius: 2vw;
    cursor: pointer;
    margin-bottom: 1.5vw;
    transition: 1s transform;
  }
  .contactForm section form button:hover {
    transform: scale(1.07);
    color: red;
  }
  .contactForm section form button:active {
    transform: scale(0.9);
    color: red;
  }
}
.socials {
  position: fixed;
  bottom: 0;
  left: 2vw;
}
.socials section {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
}
.socials section div {
  background-color: white;
  width: 0.1vw;
  height: 2vw;
  opacity: 0.4;
}
.socials section img {
  height: 2vw;
  opacity: 0.4;
  transition: 0.5s all;
}
.socials section img:hover {
  opacity: 1;
  -webkit-animation: 1s pulsate infinite;
          animation: 1s pulsate infinite;
}

@media (max-width: 500px) {
  .socials {
    position: fixed;
    bottom: 0;
    left: auto;
    right: 4vw;
    transition: 0.7s all;
  }
  .socials section {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }
  .socials section div {
    background-color: white;
    width: 2vw;
    height: 10vw;
    opacity: 0.4;
  }
  .socials section img {
    height: 10vw;
    opacity: 0.4;
    transition: 0.5s all;
  }
  .socials section img:hover {
    opacity: 1;
    -webkit-animation: 1s pulsate infinite;
            animation: 1s pulsate infinite;
  }
}
* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.cursor {
  width: 2vw;
  height: 2vw;
  z-index: 9;
  position: absolute;
  border-radius: 50%;
  border: 0.1vw solid white;
  pointer-events: none;
}

.openingCanvas {
  background: transparent;
  position: absolute;
  position: fixed;
  display: block;
  background-color: white;
  z-index: 200;
  pointer-events: none;
}

.backgroundCanvas {
  background-color: rgb(13, 13, 13);
  position: fixed;
  display: block;
  z-index: -200;
}

body {
  overflow-x: hidden;
  cursor: url("redCursor.svg"), auto;
}
body section {
  background-size: cover;
  background-attachment: fixed;
}

main {
  display: none;
  background-size: cover;
  opacity: 1;
  padding: 0 9vw;
  padding-right: 9vw;
}

.reverse {
  background-color: whitesmoke;
  filter: invert(1) hue-rotate(180deg);
}

* {
  margin: 0;
}

@font-face {
  font-family: "cursiv";
  src: url("fonts/cursive.ttf");
}
@font-face {
  font-family: "normal";
  src: url("fonts/fancy.ttf");
}
@font-face {
  font-family: "title";
  src: url("fonts/bold.ttf");
}
h1 {
  font-family: "title";
}

.bigH1 {
  font-size: 10vw;
}

.smolH1 {
  position: relative;
  top: 1vw;
  font-size: 7vw;
}

.opening {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10vw;
  font-size: 1.7vw;
  z-index: 201;
  text-align: center;
  font-family: cursiv;
  position: fixed;
}
.opening h1 {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

#enter {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  border: 2px solid black;
  border-radius: 20vw;
  width: 10vw;
  height: 10vw;
  font-size: 2vw;
  font-family: normal;
  cursor: pointer;
  transition: 0.6s all;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
#enter:hover {
  width: 11vw;
  height: 11vw;
  font-size: 2.5vw;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 1vw 2vw 2vw;
  border-radius: 10vw;
  background-color: red;
}
#enter:active {
  transform: scale(0.001);
}

@media (max-width: 500px) {
  .cursor {
    display: none;
  }
  .openingCanvas {
    background: transparent;
    position: absolute;
    position: fixed;
    display: block;
    background-color: white;
    z-index: 200;
    pointer-events: none;
  }
  .backgroundCanvas {
    background-color: rgb(13, 13, 13);
    position: fixed;
    display: block;
    z-index: -200;
  }
  body {
    width: 100vw;
    overflow-x: hidden;
    cursor: url("redCursor.svg"), auto;
  }
  body section {
    background-size: cover;
    background-attachment: fixed;
  }
  main {
    display: none;
    background-size: cover;
    opacity: 1;
    padding: 0 6vw;
    padding-right: 6vw;
  }
  .reverse {
    background-color: whitesmoke;
    filter: invert(1) hue-rotate(180deg);
  }
  * {
    margin: 0;
  }
  @font-face {
    font-family: "cursiv";
    src: url("fonts/cursive.ttf");
  }
  @font-face {
    font-family: "normal";
    src: url("fonts/fancy.ttf");
  }
  @font-face {
    font-family: "title";
    src: url("fonts/bold.ttf");
  }
  h1 {
    font-family: "title";
  }
  .bigH1 {
    font-size: 30vw;
  }
  .smolH1 {
    position: relative;
    top: 1vw;
    font-size: 16vw;
  }
  .opening {
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50vw;
    font-size: 6.7vw;
    z-index: 201;
    text-align: center;
    font-family: cursiv;
    position: fixed;
  }
  .opening h1 {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  #enter {
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    border: 2px solid black;
    border-radius: 1000vw;
    width: 45vw;
    height: 45vw;
    font-size: 10vw;
    font-family: normal;
    cursor: pointer;
    transition: 0.6s all;
    margin-bottom: 18vw;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
  }
  #enter:hover {
    width: 50vw;
    height: 50vw;
    font-size: 10vw;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 1vw 2vw 2vw;
    background-color: red;
    border-radius: 1000vw;
  }
  #enter:active {
    transform: scale(0.001);
    background-color: red;
    border-radius: 1000vw;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.fadeOut {
  -webkit-animation: 1s fadeOut forwards;
          animation: 1s fadeOut forwards;
}

.fadeIn {
  -webkit-animation: 1s fadeIn forwards;
          animation: 1s fadeIn forwards;
}

.fadeOut {
  -webkit-animation: 1s fadeOut forwards;
          animation: 1s fadeOut forwards;
}

@-webkit-keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}
button {
  background: transparent;
  border: none;
  border-radius: 1rem;
  position: fixed;
  z-index: 5;
  cursor: pointer;
}

@-webkit-keyframes to-close-icon {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 79.9;
  }
  60% {
    stroke-dashoffset: 79.9;
    rotate: calc(var(--rotation));
  }
  100% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
}

@keyframes to-close-icon {
  0% {
    stroke-dashoffset: 0;
  }
  40% {
    stroke-dashoffset: 79.9;
  }
  60% {
    stroke-dashoffset: 79.9;
    rotate: calc(var(--rotation));
  }
  100% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
}
@-webkit-keyframes to-open-icon {
  0% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
  40% {
    stroke-dashoffset: 79.9;
    rotate: var(--rotation);
  }
  60% {
    stroke-dashoffset: 79.9;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
@keyframes to-open-icon {
  0% {
    stroke-dashoffset: 0;
    rotate: var(--rotation);
  }
  40% {
    stroke-dashoffset: 79.9;
    rotate: var(--rotation);
  }
  60% {
    stroke-dashoffset: 79.9;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
.button-three {
  --button-color: white;
  overflow: hidden;
  z-index: 189;
  transition: 0.7s all;
}

.button-three .hamburger {
  transition: translate 1s, rotate 1s;
}

.button-three[aria-expanded=true] .hamburger {
  translate: 10px -10px;
  rotate: 0.125turn;
}

.button-three .line {
  transition: 1s;
  stroke-dasharray: 60 31 60 300;
}

.button-three[aria-expanded=true] .line {
  stroke-dasharray: 60 105 60 300;
  stroke-dashoffset: -90;
}

.backText {
  position: fixed;
  font-size: 20vw;
  opacity: 0.12;
  width: 100%;
  -webkit-animation: 80s scroll infinite linear;
          animation: 80s scroll infinite linear;
  z-index: 0;
}

.backText2 {
  position: fixed;
  font-size: 20vw;
  opacity: 0.12;
  width: 100%;
  -webkit-animation: 80s scroll2 infinite linear;
          animation: 80s scroll2 infinite linear;
  z-index: 0;
}

@-webkit-keyframes scroll {
  0% {
    right: 0;
  }
  100% {
    right: 100vw;
  }
}

@keyframes scroll {
  0% {
    right: 0;
  }
  100% {
    right: 100vw;
  }
}
@-webkit-keyframes scroll2 {
  0% {
    right: -100vw;
  }
  100% {
    right: 0;
  }
}
@keyframes scroll2 {
  0% {
    right: -100vw;
  }
  100% {
    right: 0;
  }
}
.navular {
  height: 100vh;
  width: 100%;
  opacity: 0;
  z-index: 100;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  background-color: antiquewhite;
  flex-direction: column;
  padding-left: 15vw;
  justify-content: center;
}
.navular img {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 43vw;
  z-index: 0;
  opacity: 0.3;
  transition: 1s all;
}
.navular div {
  z-index: 2;
  opacity: 0.6;
  transition: 0.4s all;
}
.navular div:hover {
  opacity: 1;
}
.navular div:hover ~ img {
  height: 40vw;
}
.navular div a {
  text-decoration: none;
  color: black;
  transition: 0.4s all;
}
.navular div a:hover {
  color: red;
}
.navular div a h1 {
  font-size: 6vw;
}

@media (max-width: 500px) {
  .navular {
    height: 100vh;
    width: 100%;
    opacity: 0;
    z-index: 100;
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: antiquewhite;
    flex-direction: column;
    padding-left: 15vw;
    justify-content: center;
  }
  .navular img {
    position: absolute;
    bottom: 0;
    left: 0;
    height: 80vw;
    z-index: 0;
    opacity: 0.3;
    transition: 1s all;
  }
  .navular div {
    z-index: 2;
    opacity: 0.6;
    transition: 0.4s all;
  }
  .navular div:hover {
    opacity: 1;
  }
  .navular div:hover ~ img {
    height: 70vw;
  }
  .navular div a {
    text-decoration: none;
    color: black;
    transition: 0.4s all;
  }
  .navular div a:focus {
    color: red;
  }
  .navular div a h1 {
    font-size: 12vw;
  }
}
.page1 {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
}

.arrow {
  position: absolute;
  transform: rotate(180deg);
  top: 45vw;
  left: 48vw;
  height: 4vw;
  width: 4vw;
  display: none;
}
.arrow img {
  height: 2vw;
  -webkit-animation: pulsate 1s infinite linear;
          animation: pulsate 1s infinite linear;
}

.circle {
  width: 7vw;
  height: 7vw;
  background-color: red;
  border-radius: 10vw;
  position: relative;
  left: 1vw;
  top: 1vw;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2vw;
  display: none;
}
.circle button {
  width: 1vw;
  height: 6.5vw;
  background-color: rgb(31, 31, 31);
  border-radius: 10vw;
  position: relative;
  transition: 1s all;
}
.circle button:hover {
  background-color: rgb(52, 0, 0);
}

@-webkit-keyframes opennclose {
  0% {
    width: 1vw;
  }
  50% {
    width: 2vw;
  }
  100% {
    width: 1vw;
  }
}

@keyframes opennclose {
  0% {
    width: 1vw;
  }
  50% {
    width: 2vw;
  }
  100% {
    width: 1vw;
  }
}
@-webkit-keyframes opennclose2 {
  0% {
    width: 5.5vw;
  }
  50% {
    width: 6vw;
  }
  100% {
    width: 5.5vw;
  }
}
@keyframes opennclose2 {
  0% {
    width: 5.5vw;
  }
  50% {
    width: 6vw;
  }
  100% {
    width: 5.5vw;
  }
}
.openUp {
  -webkit-animation: 3s opennclose2 infinite linear;
          animation: 3s opennclose2 infinite linear;
}
.openUp:hover {
  width: 5.5vw;
}

.opennclose {
  -webkit-animation: 3s opennclose infinite linear;
          animation: 3s opennclose infinite linear;
  background-color: blue;
}

.name {
  width: 100vw;
}
.name span {
  display: flex;
  align-items: center;
}
.name h1 {
  color: white;
  padding-right: 0.2vw;
  display: inline;
  position: relative;
  transition: 0.5s all;
  cursor: url("redCircle.svg"), auto;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}
.name h1:hover {
  transform: translateY(-1vw);
}
.name p {
  color: white;
  font-size: 1vw;
  width: 25vw;
  z-index: 2;
  position: relative;
}
.name button {
  border-radius: 0.05vw;
  font-size: 1.45vw;
  color: white;
  margin-top: 2vw;
  font-family: "normal";
  position: relative;
  transition: 1s all;
}
.name button:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 3vw;
  height: 0.005vw;
  background-color: white;
  transition: 0.5s all;
}
.name button:before {
  content: "";
  position: absolute;
  bottom: 0;
  right: 0;
  width: 3vw;
  height: 0.005vw;
  background-color: white;
  transition: 0.5s all;
}
.name button:hover {
  color: antiquewhite;
}
.name button:hover:before, .name button:hover:after {
  width: 9vw;
}
.name button:active {
  transform: scale(0.2);
}

.lastname h1:hover {
  transform: translateY(1vw);
}

.pfp {
  background-image: url("media/shawn.png");
  background-size: cover;
  height: 45vw;
  width: 23.3vw;
  position: absolute;
  bottom: 3vw;
  left: 64vw;
}

@media (max-width: 500px) {
  .page1 {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
  }
  .arrow {
    position: absolute;
    transform: rotate(180deg);
    top: 200vw;
    left: 200vw;
    height: 4vw;
    width: 4vw;
    display: none;
    opacity: 0;
  }
  .arrow img {
    height: 2vw;
    -webkit-animation: pulsate 1s infinite linear;
            animation: pulsate 1s infinite linear;
  }
  .circle {
    width: 7vw;
    height: 7vw;
    background-color: red;
    border-radius: 10vw;
    position: relative;
    left: 1vw;
    top: 1vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2vw;
    display: none;
  }
  .circle button {
    width: 1vw;
    height: 6.5vw;
    background-color: rgb(31, 31, 31);
    border-radius: 10vw;
    position: relative;
    transition: 1s all;
  }
  .circle button:hover {
    background-color: rgb(52, 0, 0);
  }
  @-webkit-keyframes opennclose {
    0% {
      width: 1vw;
    }
    50% {
      width: 2vw;
    }
    100% {
      width: 1vw;
    }
  }
  @keyframes opennclose {
    0% {
      width: 1vw;
    }
    50% {
      width: 2vw;
    }
    100% {
      width: 1vw;
    }
  }
  @-webkit-keyframes opennclose2 {
    0% {
      width: 5.5vw;
    }
    50% {
      width: 6vw;
    }
    100% {
      width: 5.5vw;
    }
  }
  @keyframes opennclose2 {
    0% {
      width: 5.5vw;
    }
    50% {
      width: 6vw;
    }
    100% {
      width: 5.5vw;
    }
  }
  .openUp {
    -webkit-animation: 3s opennclose2 infinite linear;
            animation: 3s opennclose2 infinite linear;
  }
  .openUp:hover {
    width: 5.5vw;
  }
  .opennclose {
    -webkit-animation: 3s opennclose infinite linear;
            animation: 3s opennclose infinite linear;
    background-color: blue;
  }
  .name {
    width: 100vw;
  }
  .name span {
    display: flex;
    align-items: center;
  }
  .name h1 {
    color: white;
    padding-right: 0.2vw;
    display: inline;
    position: relative;
    transition: 0.5s all;
    cursor: url("redCircle.svg"), auto;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
  }
  .name h1:hover {
    transform: translateY(-1vw);
  }
  .name p {
    margin: 8vw 0;
    color: white;
    font-size: 4vw;
    width: 50vw;
    z-index: 2;
    position: relative;
  }
  .name button {
    border-radius: 0.05vw;
    font-size: 5.45vw;
    color: white;
    margin-top: 2vw;
    font-family: "normal";
    position: relative;
    transition: 1s all;
  }
  .name button:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3vw;
    height: 0.2vw;
    background-color: white;
    transition: 0.5s all;
  }
  .name button:before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 3vw;
    height: 0.2vw;
    background-color: white;
    transition: 0.5s all;
  }
  .name button:hover {
    color: antiquewhite;
  }
  .name button:hover:before, .name button:hover:after {
    width: 18vw;
  }
  .name button:active {
    transform: scale(0.2);
  }
  .lastname h1:hover {
    transform: translateY(1vw);
  }
  .pfp {
    background-image: url("media/shawn.png");
    background-size: cover;
    height: 55vw;
    width: 35.3vw;
    position: absolute;
    bottom: 35vw;
    left: 64vw;
    display: none;
  }
}
.projectsTitle {
  font-size: 5vw;
  color: white;
  margin-top: 6vw;
  margin-bottom: 2vw;
  text-align: center;
  z-index: 0;
  z-index: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  font-family: title;
}

.featuredProjects {
  z-index: 0;
  display: flex;
  flex-direction: column;
  position: relative;
}

.featured {
  cursor: url("redCircle.svg"), auto;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  flex-direction: column;
  width: 80%;
  height: 40vw;
  text-decoration: none;
  border-radius: 5vw;
  border: 2px solid black;
  outline: 0;
}
.featured:hover {
  cursor: url("redCircle.svg"), auto;
  box-shadow: inset 10px 10px 10px 10px black;
}
.featured:nth-child(2n) {
  border-radius: 10vw;
  bottom: 5vw;
  left: 16vw;
}
.featured:before {
  content: "";
  background-color: black;
  width: 100%;
  height: 50%;
  position: absolute;
  top: -50%;
  z-index: 2;
  transition: 0.5s all;
  opacity: 0.85;
}
.featured:hover:before {
  top: 0%;
}
.featured:after {
  content: "";
  background-color: black;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 100%;
  z-index: 2;
  transition: 0.5s all;
  opacity: 0.85;
}
.featured:hover:after {
  top: 50%;
}
.featured img:nth-child(1) {
  position: absolute;
  top: 0vw;
  left: 0vw;
  height: 100%;
}
.featured img:nth-child(4) {
  position: absolute;
  bottom: 2vw;
  left: 3vw;
  height: 5vw;
  z-index: -1;
  cursor: pointer;
}

.featuredProjects a h1 {
  font-size: 5vw;
  opacity: 0;
  color: rgb(26, 26, 26);
  text-align: center;
}
.featuredProjects a:hover h1 {
  z-index: 10;
  color: white;
  -webkit-animation: 1s appear forwards;
          animation: 1s appear forwards;
}
.featuredProjects a p {
  font-size: 1vw;
  opacity: 0;
  color: rgb(26, 26, 26);
  text-align: center;
  width: 25vw;
}
.featuredProjects a:hover p {
  z-index: 10;
  color: white;
  -webkit-animation: 1s appear forwards;
          animation: 1s appear forwards;
}
.featuredProjects a:hover img:nth-child(4) {
  z-index: 10;
  -webkit-animation: 1s appear forwards, 1s pulsate infinite linear;
          animation: 1s appear forwards, 1s pulsate infinite linear;
}
@-webkit-keyframes appear {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

:root {
  --topBefore1: -50%;
  --topAfter1: 100%;
  --topBefore2: -50%;
  --topAfter2: 100%;
}

@media (max-width: 500px) {
  .projectsTitle {
    font-size: 12vw;
    color: white;
    margin-top: 6vw;
    margin-bottom: 2vw;
    text-align: center;
    z-index: 0;
    z-index: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    font-family: title;
  }
  .featuredProjects {
    z-index: 0;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-bottom: 2vw;
  }
  .featured {
    cursor: url("redCircle.svg"), auto;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    flex-direction: column;
    width: 100%;
    height: 90vw;
    text-decoration: none;
    border-radius: 5vw;
    border: 2px solid black;
    outline: 0;
    margin: 3vw 0;
  }
  .featured:hover {
    cursor: url("redCircle.svg"), auto;
    box-shadow: inset 10px 10px 10px 10px black;
  }
  .featured:nth-child(2n) {
    border-radius: 10vw;
    bottom: 0;
    left: 0;
  }
  .featured:before {
    content: "";
    background-color: black;
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: 2;
    transition: 0.5s all;
    opacity: 0.85;
  }
  .featured:after {
    content: "";
    background-color: black;
    width: 100%;
    height: 50%;
    position: absolute;
    z-index: 2;
    transition: 0.5s all;
    opacity: 0.85;
  }
  .featured:nth-child(1)::before {
    top: var(--topBefore1);
  }
  .featured:nth-child(1)::after {
    top: var(--topAfter1);
  }
  .featured:nth-child(2)::before {
    top: var(--topBefore2);
  }
  .featured:nth-child(2)::after {
    top: var(--topAfter2);
  }
  .featured a {
    position: absolute;
    bottom: 2vw;
    left: 3vw;
    height: 5vw;
    z-index: -1;
    cursor: pointer;
  }
  .featured img:nth-child(1) {
    position: absolute;
    top: 0vw;
    left: 0vw;
    height: 100%;
  }
  .featured img:nth-child(4) {
    position: absolute;
    bottom: 2vw;
    left: 3vw;
    height: 10vw;
    z-index: -1;
    cursor: pointer;
  }
  .featuredProjects a h1 {
    font-size: 10vw;
    opacity: 0;
    color: rgb(26, 26, 26);
    text-align: center;
  }
  .featuredProjects a:focus h1 {
    z-index: 10;
    color: white;
    -webkit-animation: 0.3s appear forwards;
            animation: 0.3s appear forwards;
  }
  .featuredProjects a p {
    font-size: 4vw;
    opacity: 0;
    color: rgb(26, 26, 26);
    text-align: center;
    width: 50vw;
  }
  .featuredProjects a:focus p {
    z-index: 10;
    color: white;
    -webkit-animation: 0.3s appear forwards;
            animation: 0.3s appear forwards;
  }
  .featuredProjects a:focus img:nth-child(4) {
    z-index: 10;
    -webkit-animation: 0.3s appear forwards, 1s pulsate infinite linear;
            animation: 0.3s appear forwards, 1s pulsate infinite linear;
  }
  @-webkit-keyframes appear {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes appear {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
.otherProjects {
  z-index: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  position: relative;
  margin-bottom: 10vw;
}

.otherProjects a {
  cursor: pointer;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 27vw;
  height: 15vw;
  text-decoration: none;
  cursor: url("redCircle.svg"), auto;
}
.otherProjects a:before {
  content: "";
  background-color: white;
  width: 100%;
  height: 50%;
  position: absolute;
  top: -50%;
  z-index: 2;
  transition: 0.5s all;
  opacity: 1;
}
.otherProjects a:hover:before {
  top: 0%;
}
.otherProjects a:after {
  content: "";
  background-color: white;
  width: 100%;
  height: 50%;
  position: absolute;
  top: 100%;
  z-index: 2;
  transition: 0.5s all;
  opacity: 1;
}
.otherProjects a:hover:after {
  top: 50%;
}
.otherProjects a h1 {
  font-size: 3vw;
  opacity: 0;
  color: rgb(26, 26, 26);
  text-align: center;
}
.otherProjects a:hover h1 {
  z-index: 10;
  -webkit-animation: 1s appear forwards;
          animation: 1s appear forwards;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.otherProjects a img:nth-child(1) {
  position: absolute;
  top: 0vw;
  left: 0vw;
  height: 100%;
}
.otherProjects a img:nth-child(3) {
  position: absolute;
  bottom: 0.5vw;
  left: 1vw;
  height: 3vw;
  z-index: -1;
  cursor: pointer;
}

.otherProjects a h1 {
  font-size: 3vw;
  opacity: 0;
  color: rgb(26, 26, 26);
  text-align: center;
}
.otherProjects a:hover h1 {
  z-index: 10;
  color: black;
  -webkit-animation: 1s appear forwards;
          animation: 1s appear forwards;
}
.otherProjects a p {
  font-size: 1vw;
  opacity: 0;
  color: rgb(26, 26, 26);
  text-align: center;
  width: 25vw;
}
.otherProjects a:hover p {
  z-index: 10;
  color: black;
  -webkit-animation: 1s appear forwards;
          animation: 1s appear forwards;
}
.otherProjects a:hover img:nth-child(3) {
  z-index: 1000000;
  -webkit-animation: 1s appear forwards;
          animation: 1s appear forwards;
}
@keyframes appear {
  0% {
    opacity: 0;
  }
  40% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 500px) {
  .otherProjects {
    z-index: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 100%;
    position: relative;
    margin-bottom: 10vw;
  }
  .otherProjects a {
    cursor: pointer;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    height: 60vw;
    text-decoration: none;
    cursor: url("redCircle.svg"), auto;
  }
  .otherProjects a:before {
    content: "";
    background-color: white;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 0%;
    z-index: 2;
    transition: 0.5s all;
    opacity: 0.4;
  }
  .otherProjects a:hover:before {
    top: 0%;
  }
  .otherProjects a:after {
    content: "";
    background-color: white;
    width: 100%;
    height: 50%;
    position: absolute;
    top: 50%;
    z-index: 2;
    transition: 0.5s all;
    opacity: 0.4;
  }
  .otherProjects a:hover:after {
    top: 50%;
  }
  .otherProjects a h1 {
    font-size: 7vw;
    opacity: 1;
    color: rgb(26, 26, 26);
    text-align: center;
    z-index: 10;
    -webkit-animation: 1s appear forwards;
            animation: 1s appear forwards;
  }
  @-webkit-keyframes appear {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes appear {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  .otherProjects a img:nth-child(1) {
    position: absolute;
    top: 0vw;
    left: 0vw;
    height: 100%;
  }
  .otherProjects a img:nth-child(3) {
    position: absolute;
    bottom: 0.5vw;
    left: 1vw;
    height: 10vw;
    z-index: 10;
    cursor: pointer;
  }
  .otherProjects a h1 {
    opacity: 0;
    color: rgb(26, 26, 26);
    text-align: center;
  }
  .otherProjects a:hover h1 {
    z-index: 10;
    color: black;
    -webkit-animation: 1s appear forwards;
            animation: 1s appear forwards;
  }
  .otherProjects a p {
    font-size: 1vw;
    opacity: 0;
    color: rgb(26, 26, 26);
    text-align: center;
    width: 25vw;
  }
  .otherProjects a:hover p {
    z-index: 10;
    color: black;
    -webkit-animation: 1s appear forwards;
            animation: 1s appear forwards;
  }
  .otherProjects a:hover img:nth-child(3) {
    z-index: 1000000;
    -webkit-animation: 1s appear forwards;
            animation: 1s appear forwards;
  }
  @keyframes appear {
    0% {
      opacity: 0;
    }
    40% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
.page3 {
  background-color: antiquewhite;
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.page3 span {
  display: flex;
  margin-bottom: 2vw;
}
.page3 span h1 {
  font-size: 3vw;
}

.codepen {
  height: 10vw;
}

@-webkit-keyframes moveUpAndDown {
  0% {
    transform: translateY(0vw);
  }
  50% {
    transform: translateY(5vw);
  }
  100% {
    transform: translateY(0vw);
  }
}

@keyframes moveUpAndDown {
  0% {
    transform: translateY(0vw);
  }
  50% {
    transform: translateY(5vw);
  }
  100% {
    transform: translateY(0vw);
  }
}
.left-text {
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
  position: absolute;
  -webkit-animation: moveUpAndDown 50s infinite linear;
          animation: moveUpAndDown 50s infinite linear;
  font-size: 7vw;
  top: 0;
  left: 0;
  margin: 1vw;
  transition: 0.5 all;
  z-index: 1000;
  cursor: pointer;
}

.about {
  z-index: 5;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "normal";
  margin: 9vw 0;
}
.about img {
  height: 20vw;
  margin-right: 2vw;
  margin-left: 12vw;
  position: relative;
  box-shadow: 0.5vw 0.5vw black, 0.6vw 0.6vw white, 0.8vw 0.8vw black;
  transition: 1s all;
  bottom: 0vw;
  right: 0vw;
}
.about img:hover {
  box-shadow: 0.5vw 0.5vw black, 1.5vw 1.5vw white, 1.6vw 1.6vw black, 1.8vw 1.8vw white;
  bottom: 1vw;
  right: 1vw;
}
.about h2 {
  font-size: 2vw;
}

.technologies {
  padding-left: 3vw;
  display: flex;
  flex-wrap: wrap;
  width: 60vw;
}
.technologies a {
  text-decoration: none;
  color: black;
}
.technologies div {
  width: 7vw;
  height: 7vw;
  position: relative;
  cursor: pointer;
  margin-right: 2vw;
  margin-bottom: 2vw;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.technologies div p {
  font-size: 1vw;
  position: relative;
  transition: 0.5s all;
  top: 0vw;
  font-family: "normal";
}
.technologies div img {
  position: absolute;
  transition: 0.4s all;
  top: 0;
  left: 0;
  height: 100%;
  opacity: 1;
  z-index: 1;
  filter: saturate(0%);
  transition: 0.1s all;
}
.technologies div img:active {
  transform: scale(0.9);
}
.technologies div img:hover {
  filter: saturate(100%);
}
.technologies div img:hover + p {
  top: 4.5vw;
}

@media (max-width: 500px) {
  .page3 {
    background-color: antiquewhite;
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
  }
  .page3 span {
    display: flex;
    margin-bottom: 2vw;
  }
  .page3 span h1 {
    font-size: 7vw;
    text-align: center;
  }
  .page3 span h1:nth-child(1) {
    display: none;
  }
  .page3 span h1:nth-child(1) {
    content: "";
  }
  .codepen {
    height: 10vw;
  }
  @-webkit-keyframes moveUpAndDown {
    0% {
      transform: translateY(0vw);
    }
    50% {
      transform: translateY(5vw);
    }
    100% {
      transform: translateY(0vw);
    }
  }
  @keyframes moveUpAndDown {
    0% {
      transform: translateY(0vw);
    }
    50% {
      transform: translateY(5vw);
    }
    100% {
      transform: translateY(0vw);
    }
  }
  .left-text {
    position: static;
    -webkit-animation: moveUpAndDown 50s infinite linear;
            animation: moveUpAndDown 50s infinite linear;
    font-size: 14vw;
    top: 0;
    left: 0;
    margin: 1vw;
    transition: 0.5 all;
    z-index: 1000;
    cursor: pointer;
    -ms-writing-mode: lr-tb;
        writing-mode: horizontal-tb;
  }
  .left-text-container {
    display: flex;
    flex-direction: row;
  }
  .about {
    z-index: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: "normal";
    margin: 0vw 0;
    margin-bottom: 9vw;
    text-align: center;
    padding: 0 2vw;
  }
  .about img {
    height: 70vw;
    margin-right: 0vw;
    margin-left: 0vw;
    margin-bottom: 5vw;
    position: relative;
    box-shadow: 0.5vw 0.5vw black, 0.6vw 0.6vw white, 0.8vw 0.8vw black;
    transition: 1s all;
    bottom: 0vw;
  }
  .about img:hover {
    box-shadow: 0.5vw 0.5vw black, 1.5vw 1.5vw white, 1.6vw 1.6vw black, 1.8vw 1.8vw white;
    bottom: 1vw;
    right: 1vw;
  }
  .about h2 {
    font-size: 5vw;
    text-align: center;
    width: 100%;
  }
  .technologies {
    padding-left: 0vw;
    margin-bottom: 4vw;
    display: flex;
    flex-wrap: wrap;
    width: 80vw;
    justify-content: center;
    align-items: center;
  }
  .technologies a {
    text-decoration: none;
    color: black;
  }
  .technologies h1 {
    font-size: 8vw;
  }
  .technologies div {
    width: 20vw;
    height: 25vw;
    position: relative;
    cursor: pointer;
    margin-right: 6vw;
    margin-bottom: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .technologies div p {
    font-size: 2vw;
    position: relative;
    transition: 0.5s all;
    top: 0vw;
    font-family: "normal";
  }
  .technologies div img {
    position: absolute;
    transition: 0.4s all;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 1;
    z-index: 1;
    filter: saturate(0%);
    transition: 0.1s all;
  }
  .technologies div img:active {
    transform: scale(0.9);
  }
  .technologies div img:hover {
    filter: saturate(100%);
  }
  .technologies div img:hover + p {
    top: 4.5vw;
  }
}
.slideUp {
  transform: translateX(-100%);
}

.slideDown {
  transform: translateX(200%);
}

.scroll {
  transition: 2s all;
  opacity: 0;
  filter: blur(2px);
  transform: translateY(20%);
}

.fly {
  opacity: 1;
  filter: blur(0px);
  transform: translateY(0%);
}/*# sourceMappingURL=index.css.map */